  
  * {
    box-sizing: border-box;
    font-family: 'Roboto', serif;
  }
  
  body {
    padding: 0;
    margin: 0;
  }
  
  p {
    margin: 0;
  }
  
  textarea {
    resize: vertical;
  }
  
  button {
    cursor: pointer;
  }